.top-bar .name h1 a {
	width: auto;
}

#results { min-height: 90px; }

.units-buttons { overflow: hidden; }

.results-grade {
	font-size: 1.3em;
	line-height: 1em;
}

.results-meta {
	font-size: .7em;
}
