.row {
	max-width: 76.5em;
}

.top-bar .name h1 a {
	width: auto;
}

#results { min-height: 90px; }

.units-buttons { overflow: hidden; }

.results-grade {
	font-size: 1.3em;
	line-height: 1em;
}

.results-meta {
	font-size: .7em;
}

table input, table button {
	margin-bottom: 0 !important;
}

.removeUnitCol {
	width: 26px;
}
