* { box-sizing: border-box; }

body {
	font-family: sans-serif;
}

header {
	text-align: center;
}

table {
	width: 100%;
}

.r2 {
	width: 49%;
	float: left;
}

.r3 {
	width: 49%;
	float: right;
}

section {
	overflow: hidden;
}

#results {
	overflow: hidden;
	min-height: 58px;
}

.results-button {
	float: left;
	width: 30%;
}

.results-table {
	float: right;
	width: 70%;
}

.results-grade {
	font-size: 1.4em;
	font-weight: bold;
	text-align: center;
}

.results-grade small {
	font-weight: normal;
	font-size: .65em;
}

.results-meta {
	font-size: .9em;
}

.generateResults {
	font-size: 1.4em;
}

input {
	width: 100%;
}

.units-buttons {
	overflow: hidden;
}

.addUnit {
	float: left;
}

.removeUnits {
	float: right;
}
